.imagem{

	width: 100%;
	background: Montserat;
}



.titulo{

	text-align: center;
	font:normal 48px Montserrat, Arial, sans-serif;
	color:#232323 ;

}

.a{

	font: normal 15px Segoe UI, Arial, sans-serif;
	color: #a0a0a0;
	text-align: center;
}


#conteudo{
	position: relative;
	width: 100%;
	padding-top: 50px;
	height: 600px;


}

#historia{

		width: 44%;
		position: relative;
		left: 28%;
}


.foguete{

	width: 80px;
	position: relative;
	left: 36%;
	padding-top: 70px;
}



.olhos{

	font-size: 4rem;
	position: relative;
	color: #A7FBD3;
	left: 38%;
	padding-top: 70px;

}


#cara{
	position: relative;
	bottom: 180px ;
	left: 48%;
	
	
}

.diamante{

	font-size: 4rem;
	position: relative;
	color: #A7FBD3;
	left: 38%;
	padding-top: 70px;
}

#joia{
	position: relative;
	bottom: 250px ;
	left: 72%;
	
	
}


#missao{
	width: 20%;
	position: absolute;
	left: 10%;

	
	
}


#visao{
	width: 20%;
	position: absolute;
	left: 40%;
	
	

}

#valores{
	width: 20%;
	position: absolute;
	left: 70%;
	
}

.Title{
	font:bold 17px Segoe UI, Arial, sans-serif; 
	text-align: center;

}

.text{
	font: normal 15px Segoe UI, Arial, sans-serif;
	color:#a0a0a0 ;
	text-align: center;
}


#frase{
	background-image: url('Materiais/635703-1.jpg');
    background-size: 100%;
    height: 500px;
    color: #FFFFFF;
	
	
}

#shadow{
	background: #000000A0;
	height: 100%;
	text-align: center;

}

.yoda{
width: 70px;

}

.frase_yoda{
	padding-top: 10%;
	font: Montserrat, Arial, sans-serif ;
}

.nome_yoda{

	font: Andale Mono, monospace;
}

#servico{
	position: relative;
	margin-bottom: 100px;
}

#desenvolvimento{
	position: absolute;
	width: 23%;
	bottom: 330px;
	left: 12%;
}

#internet{
	position: absolute;
	width: 23%;
	bottom: 170px;
	left: 12%;

}

#consultoria{
	position: absolute;
	width: 23%;
	bottom: 330px;
	right: 12%;

}

#minicursos{
	position: absolute;
	width: 23%;
	bottom: 170px;
	right: 12%;


}


.title2{
	font: normal 20px "Segoe UI", Arial, sans-serif;
	text-align: center;
	color: #999999;
	margin-top: 100px;
	margin-bottom: 0px;

}

.margin{
	margin: 0px;

}

.img-servicos{
	position: relative;
	left: 39%;
}

.esquerda{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: left;
	color: #252525;
}

.direita{
	font: bold 17px "Segoe UI", Arial, sans-serif;
	text-align: right;
	color: #252525;


}

.text-left{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: left;
	color: #999999;
}

.text-right{
	font: normal 15px "Segoe UI", Arial, sans-serif;
	text-align: right;
	color: #999999;

}


#CONTATO{

    background: #3E194D;
    position: relative;
    height: 700px;

}

#formulario{

    position: absolute;
    background: #FFFFFF;
    bottom: 160px;
    left: 60%;
    padding: 60px;
    border: 0px solid white;
    border-radius: 10px;

}

.title-contato{

    font: bold 48px Montserrat, Arial, sans-serif;
    color: #FFFFFF;
    text-aling: left;

}

.img-contato{

    position: relative;
    top: 40px;
    width: 325px;

}

.buttom{

    background: #3E194D;
    color: #A7FBD3;
    padding: 5px 15px;
    border: 0px solid white;
    border-radius: 5px;

}

#infos{

	width: 400px;
	position: relative;
	top: 15%;
	left: 20%;
}


.tamanho{
	width: 300px;
}

.tam{
	height:20px;

}

.tam-1{
	height:100px;
}

.noborder{
	border: none;

}

.background{
	background: #F5F5F5;
}

